@{
    ViewData["Title"] = "Gestor de incidentes";
    Layout = "_LayoutUser";
}
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@attribute [Authorize]


@if (signInManager.IsSignedIn(User))
{

    <div class="container-fluid text-center text-primary" id="UserContainer" style="margin-bottom : 10px;">
        <h2>¡Bienvenido @((await userManager.GetUserAsync(User)).Name) al gestor de incidentes!</h2>
        <hr>
    </div>

    <div class="container-fluid">
        <div class="container" id="UserContainer">
            <h4>Incidentes cargados</h4>
            <hr>

            @code {
            private name = String.Empty;

            protected override void OnInitialized()
            {
                base.OnInitialized();
                name = (await userManager.GetUserAsync(User)).Name;
            }
        }


        </div>
    </div>

}

  

else
{
    <script defer>
        var a = document.getElementById('principal');
        a.removeAttribute('id');
        a.setAttribute('id', 'BadLogin');
    </script>

    <div style="padding: 10px; background-color: #FFFFFF; border: 10px solid #FFFFFF; border-radius: 10px;"
    class="text-center">
        <h2 class="card-title">Error 401 : No estas autorizado.</h2>
        <h6>Para ver este apartado debes iniciar sesión</h6>
        <a class="btn btn-primary " data-toggle="pill" href="@Url.Action("Index", "Login")">Ingresar</a>
    </div>
}
