@{
    ViewData["Title"] = "Gestor de incidentes";
    Layout = "_LayoutUser";
}

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages  
@using System.Threading.Tasks
@namespace pobreTITO_Views_User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@attribute [Authorize]


@if (signInManager.IsSignedIn(User))
{

    <div class="container-fluid text-center text-primary" id="UserContainer" style="margin-bottom : 10px;">
        <h2>¡Bienvenido @((await userManager.GetUserAsync(User)).Name) al gestor de incidentes!</h2>
        <hr>
    </div>

    <div class="container-fluid">
        <div class="container row">
            <div class="container col" id="ReportsContainer">
                <h4 class="text-center">Incidentes cargados</h4>
                <hr>

                <LoadedReports ObjectPropety ="@await userManager.GetUserAsync(User)" render-mode="WebAssemblyPrerendered"/>
            </div>

            <div class="container col" id="ReportsContainer">
                <h4 class="text-center">Agregar un incidente</h4>
                <hr>
                <button type="button" class="btn btn-primary position-relative">Agregar</button>
            </div>
        </div>
    </div>

}
else
{
    <script defer>
        var a = document.getElementById('principal');
        a.removeAttribute('id');
        a.setAttribute('id', 'BadLogin');
    </script>

    <div style="padding: 10px; background-color: #FFFFFF; border: 10px solid #FFFFFF; border-radius: 10px;"
    class="text-center">
        <h2 class="card-title">Error 401 : No estas autorizado.</h2>
        <h6>Para ver este apartado debes iniciar sesión</h6>
        <a class="btn btn-primary " data-toggle="pill" href="@Url.Action("Index", "Login")">Ingresar</a>
    </div>
}
