@namespace pobreTITO_Views_User
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using System.Threading.Tasks
@using pobreTITO_Models
@using System.Net.Http
@inject UserManager<User> userManager

<table>
    <thead>
        
    </thead>
    <tbody>
        @for (int i = 0; i < reports.Count; i++)
        {
            
        }
    </tbody>
</table>

@code {
    HttpClient http = new();
    [Parameter]
    public User user {get; set;}
    
    List<Report> reports = await http.GetAsync("https://localhost:1337/Report", user);

}