@model pobreTITO_models.RegisterViewModel
@{
    ViewData["Title"] = "Registro";
}

<h2 style="text-align: center;">@ViewData["Title"]</h2>
<hr>

<form class="form" id="RegisterForm" asp-action="Register" asp-controller = "User" method="post">
    <div class="column" id="columnA">
        <label for="email">Email</label>
        <input class="registerInput" asp-for="email" name="email" type="email">

        <label for="emailConfimation">Confirmar Email</label>
        <input class="registerInput" asp-for="emailConfimation" name="emailConfirmation" type="email">

        <label for="name">Nombre</label>
        <input class="registerInput" asp-for="name" name="name" type="text">
    </div>

    <div class="column" id="columnB">
        <label for="lastname">Apellido</label>
        <input class="registerInput" asp-for="lastname" name="lastname" type="text">

        <label for="password">Contraseña</label>
        <input class="registerInput" asp-for="password" name="password" type="password">

        <label for="passwordConfirmation">Confirmar contraseña</label>
        <input class="registerInput" asp-for="passwordConfirmation" name="passwordConfirmation" type="password">
    </div>

    <div class="column" id="columnC">
        <label for="id">DNI</label>
        <input class="registerInput" asp-for="id" name="id" type="text">
    </div>
</form>
<input id="submitRegister" type="submit">
