html {
  font-size: 14px;
  font-family: Calibri;
}

body {
  background-color: lightgray;
}

footer {
  background-color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Register and Login CSS*/

.containerRegister {
  background-color: white;
  border: 3px solid white;
  box-shadow: 3px 3px 5px #afb7b9;
  border-radius: 10px;
  width: 43%;
  position: relative;
  left: 27%;
}

form,
.column {
  display: grid;
  text-align: center; 
}
.column
{
  place-content: center;
}

#RegisterForm {
  padding: 1% 0 3% 0;
  grid-template-areas:
    "columnA columnB"
    "columnA columnB"
    "columnC columnC"
    "submitContainer submitContainer"
  ;
}

#columnA {
  grid-area: columnA;
  margin: 2%;
}

#columnB {
  margin: 2%;
  grid-area: columnB;
}

#columnC {
  grid-area: columnC;
  margin: 2%;
}

#submitContainer
{
  grid-area: submitContainer;
}

hr {
  width: 20%;
  position: relative;
  left: 40%;
}

.registerInput {
  border: 1px solid #CED4DA;
  border-radius: 5px;
  text-align: center;
}

#ErrorMessage
{
  text-align: center;
  font-size: small;
  color: darkred;
}

#UserContainer
{
  width: max-content;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 10px 20px #afb7b9;
}